{#
* Jotter is a Grav CMS theme | https://github.com/underr-ua/grav-theme-jotter
* Copyright 2017-2019 Andrii Burkatskyi aka underr
* Licensed under MIT | https://github.com/underr-ua/grav-theme-jotter/raw/master/LICENSE
#}

{% set width = theme_config.list.widget_width ? theme_config.list.widget_width ~ 'px' %}
{% set height = theme_config.list.widget_height ? theme_config.list.widget_height ~ 'px' %}
{% set bg = theme_config.list.background_color %}

<div class="go-unit unit-auto mx-auto">
    <a href="{{ list.url }}">
        <div class="j-shadow-stack bg-image bg-lite m-3"
                style="background-image:url({{ banner.quality(32).url }});
                {% if width %}width:{{ width }};{% endif %}
                {% if height %}height:{{ height }};{% endif %}
                {% if bg %}background-color:{{ bg }};{% endif %}">
            <div class="sticker">
                <span class="h4 t-break t-dark">{{ list.title }}</span>
            </div>
        </div>
    </a>
</div>
